<link rel='stylesheet' href='/stylesheets/admin-dash.css' />
<script src="javascripts/admin_dash_front/adminDashFront.js"></script>
<script src="javascripts/admin_dash_front/updateData.js"></script>
<script src="javascripts/admin_dash_front/deleteData.js"></script>

<div class="wrapper">
    <header class="header">
        <h1>Admin panel</h1>
    </header>
    <div class="content">
        <div class="sidebar-left">
            <div class="buttons-objects">
                <button onclick="addData.getData('Teacher')" class="teachers-btn btn">teachers</button>
                <button onclick="addData.getData('Class') " class="classes-btn btn">classes</button>
                <button onclick="addData.getData('Lesson')" class="lessons-btn btn">lessons</button>
                <button onclick="addData.getData('User')" class=" btn">Users</button>
            </div>
        </div>

        <div class="object-content">
            <div class="teachers object-item object-item-active" id="teacherId">
                <script>
                    function accordionDown() {
                        let accordion = document.getElementsByClassName('accordion')
                        for(let i = 0; i < accordion.length; i++){
                            accordion[i].onclick = function () {
                                this.classList.toggle('active')
                                this.nextElementSibling.classList.toggle('show')
                            }
                        }
                    }
                </script>
            </div>
            <div class="classes object-item">
                <ul class="classes-list">
                    <li class="class-item"></li>
                    <li class="class-item"></li>
                    <li class="class-item"></li>
                </ul>
            </div>
            <div class="lessons object-item">
                <ul class="lessons-list">
                    <li class="lesson-item"></li>
                    <li class="lesson-item"></li>
                    <li class="lesson-item"></li>
                </ul>
            </div>
            <div class="update object-item">
                <div class="update-input">
                    <input list="objects">
                    <datalist id="objects">
                        <option value=""></option>
                    </datalist>
                    <button class="update-change-btn">Change on</button>
                </div>
                <div class="update-menu">
                    <div class="update-list">
                        <ul class="update-object-list">
                            <li class="update-object-item"></li>
                        </ul>
                    </div>
                    <div class="update-item">
                        <h3>Item fields</h3>
                        <div class="input-fields">
                            <input class="" type="text">
                        </div>
                        <button class="update-btn">Update it</button>
                    </div>
                </div>
            </div>
            <div class="add object-item">
                div.
            </div>
        </div>
    </div>
    <footer class="footer">

    </footer>
    <div class="data">
        <div class="data-users" data-users="{{users}}"></div>
    </div>
    <script onload="admindashInit()"></script>
</div>