<link rel='stylesheet' href='/stylesheets/admin-dash.css' />
<script src="javascripts/admin_dash_front/response.js"></script>
<script src="javascripts/admin_dash_front/adminDashFront.js"></script>

<div class="wrapper">
    <header class="header">
        <h1>Admin panel</h1>
    </header>
    <div class="main">
        <div class="sidebar">
            <div class="sidebar-content">
                <div class="sidebar-item">
                    <nav class="tabs-items">
                        <button onclick="addData.getData('User'),    addData.deleteData()" class="tabs-item" >User</button>
                        <button onclick="addData.getData('Teacher'), addData.deleteData()" class="tabs-item" >Teacher</button>
                        <button onclick="addData.getData('Lesson'),  addData.deleteData()" class="tabs-item" >Lesson</button>
                        <button onclick="addData.getData('Class'),   addData.deleteData()" class="tabs-item" >Class</button>
                    </nav>
                </div>
            </div>
        </div>
            <div class="content" id="content">
                <div class="create-data">

                </div>
                <div class="content-item" id="content-item"></div>
            </div>
        </div>
    </div>
</div>

