<link rel='stylesheet' href='/stylesheets/admin-dash.css' />
<script src="javascripts/admin_dash_front/response.js"></script>
<script src="javascripts/admin_dash_front/adminDashFront.js"></script>

<div class="wrapper">
    <header class="header">
        <h1>Admin panel</h1>
    </header>
    <div class="main">
        <div class="sidebar">
            <div class="sidebar-content">
                <div class="sidebar-item">
                    <nav class="tabs-items">
                        <a href="#tab_01" class="tabs-item">User</a>
                        <a href="#tab_02" class="tabs-item">Teacher</a>
                        <a href="#tab_03" class="tabs-item">Lesson</a>
                        <a href="#tab_04" class="tabs-item">Class</a>
                    </nav>
                </div>
            </div>
        </div>
            <div class="content">
                <script>
                    function accordionDown() {
                        let accordion = document.getElementsByClassName('accordion')
                        for(let i = 0; i < accordion.length; i++){
                            accordion[i].onclick = function () {
                                this.classList.toggle('active')
                                this.nextElementSibling.classList.toggle('show')
                            }
                        }
                    }
                </script>
                <div id="tab_01" class="user-content tabs" ></div>
                <div id="tab_02" class="teacher-content tabs" ></div>
                <div id="tab_03" class="lesson-content tabs" ></div>
                <div id="tab_04" class="class-content tabs" ></div>
            </div>
        </div>
    </div>
   <body onload="
   addData.getDataUser('User')
   addData.getData('Teacher', 'tab_02')
   addData.getData('Lesson', 'tab_03')
   addData.getData('Class', 'tab_04')
"></body>
</div>