<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/schedule-style.css' />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
      <script src="javascripts/cookie_handler.js"></script>
      <script src="https://unpkg.com/vue@next"></script>
      <script src="javascripts/auth.js"></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
