<script src="javascripts/schedule/schedule-front.js"></script>
<script src="javascripts/api.js"></script>
<script src="javascripts/localstorage.js"></script>
<script src="javascripts/data_update.js"></script>
<link rel='stylesheet' href='/stylesheets/schedule/header.css' />
<link rel='stylesheet' href='/stylesheets/schedule/info_table.css' />


<div id="app">
    <app-header></app-header>
    <schedule></schedule>
    <info-table></info-table>
</div>
<script src="javascripts/schedule/app.js"></script>
<script src="javascripts/schedule/header.js"></script>
<script src="javascripts/schedule/schedule.js"></script>
<script src="javascripts/schedule/info_table.js"></script>
<script src="javascripts/schedule/app_mount.js"></script>