<script src="javascripts/schedule/schedule-front.js"></script>
<script src="javascripts/api.js"></script>
<script src="javascripts/localstorage.js"></script>
<script src="javascripts/data_update.js"></script>

<div id="app">
    <app-header></app-header>
    <info-table></info-table>
</div>
<script src="javascripts/schedule/app.js"></script>