a{
  text-decoration: none;
  color: #fff;
}

.header{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5vh;
  background-color: #006262;
  color: #fff;
}

.main{
  display: flex;
}

.sidebar{
  width: 15%;
  height: 95vh;
  background-color: #009494;
}

.tabs-item{
  display: block;
  line-height: 50px;
  background-color: #008585;
  text-decoration: none;
  text-align: center;
  font-size: 18px;
  border: 1px solid #00A0A0;
  transition: .4s;
}

.tabs-item:hover{
  background-color: #00B2B2;
}

.tabs{
  display: none;
}

.tabs:target{
  display: block;
}

.content{
  background-color: #9AD5D5;
  width: 85%;
  height: 95vh;
  overflow: scroll;
}

.accordion{
  width: 100%;
}

.panel{
  background-color: #fff;
  display: none;
}

.panel.show{
  display: block;
}