* {
  margin: 0;
}

body {
  background-color: azure;
  font-family: 'Roboto', sans-serif;
}

a {
  color: #00B7FF;
}

.btn {
  width: 25px;
  height: 25px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn i {
  margin: auto;
  color: white;
}

.edit {
  background-color: darkseagreen;
}

.remove {
  background-color: darksalmon;
}

.checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

/* для элемента label, связанного с .custom-checkbox */
.checkbox+label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

/* создание в label псевдоэлемента before со следующими стилями */
.checkbox+label::before {
  content: "";
  display: inline-block;
  width: 22px;
  height: 22px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #ffffff;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

/* стили при наведении курсора на checkbox */
.checkbox:not(:disabled):not(:checked)+label:hover::before {
  border-color: #ffffff;
}

/* стили для активного чекбокса (при нажатии на него) */
.checkbox:not(:disabled):active+label::before {
  background-color: #ffffff;
  border-color: #ffffff;
}

/* стили для чекбокса, находящегося в фокусе */
.checkbox:focus+label::before {
  box-shadow: 0 0 0 0.2rem rgba(97, 141, 179, 0.25);
}

/* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
.checkbox:focus:not(:checked)+label::before {
  border-color: #80bdff;
}

/* стили для чекбокса, находящегося в состоянии checked */
.checkbox:checked+label::before {
  border-color: #0b76ef;
  background-color: #0b76ef;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

/* стили для чекбокса, находящегося в состоянии disabled */
.checkbox:disabled+label::before {
  background-color: #e9ecef;
}